{% extends "abstracts/base.twig" %}

{% block title %}
    post - {{ post.title }}
{% endblock %}

{% block content %}
    <article class="post">
        <h2> {{ post.title }}</h2>
        <p>Author: <a href="/users/{{ post.users.id }}">{{ post.users.name }}</a></p>
        <hr>
        <div class="post-body">
            <p>{{ post.body }}</p>
        </div>
    </article>
{% endblock %}